@import url("https://fonts.googleapis.com/css?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

body{
  width: 85%;
  margin: auto;
}

#lateral {
  background-color: #cecece;
  width: 30%;
  text-align: center;
  padding: 10px;
  float: right;
  margin-left: 15px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  font-family: "Itim", cursive;
  font-size: 11pt;
}

#brasao-bandeira figure {
  display: inline-block;
  margin: auto;
  padding: 30px;
}

#brasao-bandeira figure figcaption {
  text-align: center;
  margin: 10px;
}

#lateral table {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}

#lateral table td {
  border: 1px solid #606060;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 11pt;
}

#lateral table caption {
  margin: 10px;
  font-size: 12pt;
}

#montagem{
  width: 90%;
  margin: auto;
}

#montagem img{
  width: 95%;
}

article {
  float: left;
}

#corpo {
  font-family: "Titillium Web", sans-serif;
  margin: auto;
}

header {
  font-size: 18pt;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#corpo p {
  text-align: justify;
  font-size: 12pt;
}

#menu {
  background-color: #cecece;
  width: 400px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#menu h2{
  text-align: center;
}

.corpo-table {
  border: 1px solid #606060;
  border-spacing: 0px;
  margin: auto;
}

.corpo-table td, th {
  border: 1px solid #606060;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.corpo-table th{
    background-color: cadetblue;
}

#corpo figure,#div-video{
  border: 1px solid steelblue;
  background-color: #cecece;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: 0;
}

#corpo figure figcaption, #video-caption{
  font-size: 10pt;
}

#corpo .esquerda{
  float: left;
  margin-right: 20px;
}

#corpo .direita{
  float: right;
  margin-left: 20px;
}

#corpo #fig-diferente{
  width: 900px;
  margin: auto;
}